html {
	font-size: 30px;
	background-color: #202124;
	color: #DCDCDC;

	overflow-x: hidden;
	overflow-y: auto;
}
html, body {margin: 0; display: block; height: 100%;}

::-webkit-scrollbar {
	width: 6px;
	height: 1px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background: #787878;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	background: #3C3C3C;
}

.hidden {display: none;}

#heading-part {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80vh;
}

#heading {
	position: relative;
	text-align: center;
	color: #F5F5F5;
	font-size: 60px;
	top: 24vh; /*220px*/
}

#sub-heading {
	text-align: center;
	position: relative;
	top: calc(24vh - 48px); /*170px*/
	font-size: 24px;
	font-weight: lighter;
}

.home-heading-img.big-screen {
	position: absolute;
	left: 0;
	top: calc((56.25vw - 64vh) / -2);
	width: 100vw;
}
.home-heading-img.small-screen {
	position: absolute;
	left: calc((140vh - 100vw) / -2);
	top: 0;
	height: 80vh;
}

#canvas {
	position: absolute;
	width: 100vw;
	height: 640px;
	left: 0;
	top: 0;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 66px;
	padding: 10px 0;
	transition: background-color 0.1s linear;
}
.header.big-screen:hover {
	background-color: #202124;
}
.header.small-screen {
	background-color: #202124;
}

#header-icon {
	background-image: url(../media/icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 20%;
	width: 60px;
	height: 60px;
}

#header-list {
	float: right;
	margin-right: 20%;
	margin-top: 10px;
}

#header-list ul {
	margin: 0 0;
}
.header-list.big-screen div {
	float: right;
	margin: 0 1.5vw;
}
.header-list.big-screen .header-option {
	text-decoration: none;
	padding-bottom: 25px;
	font-size: 24px;
	color: #DCDCDC;
	transition: color 0.1s linear;
	transition: border-bottom 0.1s linear;
}

.header-list.big-screen .detail-class {
	position: relative;
	top: 26px;
	background-color: #202124;
	overflow: hidden;
	height: 0;
	padding: 0 14px;
	font-size: 20px;
	transition: height 0.1s linear;
}
.header-list.big-screen .detail-class li {
	margin: 14px 0;
	list-style: none;
}
.header-list.big-screen .detail-class li a {
	text-decoration: none;
	color: #DCDCDC;
	font-weight: lighter;
	transition: color 0.1s linear;
	transition: border-left 0.1s linear;
	transition: padding-left 0.1s linear;
}
.header-list.big-screen .detail-class li a:hover {color: #F5F5F5; border-left: 2px solid #F5F5F5; padding-left: 5px;}

.header-div:hover .header-option.has-detail-list {color: #F5F5F5; border-bottom: 2px solid #F5F5F5;}
.header-div:hover .header-option.no-detail-list {color: #F5F5F5;}

#header-about:hover #about-detail {height: 92px;}
#header-tools:hover #tools-detail {height: 133px;}
#header-blog:hover #blog-detail {height: 133px;}


#menu-btn:checked ~ #header-menu {height: 224px;}
#menu-btn {display: none}
#menu-icon {
	background-image: url(../media/menu-icon.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
}

#header-menu {
	height: 0;
	overflow: hidden;
	background-color: #202124;
	position: absolute;
	left: 0;
	top: 80px;
	width: 100vw;
	padding-left: 20%;
	transition: height 0.1s linear;
}

#header-menu ul {
	list-style: none;
	padding: 0;
}
#header-menu li {
	margin: 20px 0;
	font-size: 24px;
}
#header-menu a {
	text-decoration: none;
	width: 100px;
	color: #DCDCDC;
}



#main-part {
	box-shadow: 0px 0px 10px 1px #202124;
	background-color: #202124;
	width: 100vw;
	min-height: 600px;
	position: absolute;
	left: 0px;
	top: 68vh; /*640px*/
}

#main-part div.item {
	box-shadow: 0px 0px 10px 1px #101010;
	background-color: #292A2D;
	border: 1px solid #2B2C28;
	min-height: 320px;
	margin: 30px auto;
}
.main-part.big-screen div.item {width: 800px;}
.main-part.small-screen div.item {width: 96vw;}

#main-part div.item h1, h3, .content {
	margin: 10px 30px 10px 30px;
	letter-spacing: 2px;
}

.item-img {
	display: block;
	position: relative;
	top: 5px;
}

.title {
	font-weight: normal;
	position: relative;
	top: 10px;
	font-size: 42px;
}

.subtitle {
	font-weight: normal;
	position: relative;
	top: -5px;
	left: 5px;
	font-size: 16px;
}

.content {
	font-weight: lighter;
	overflow: hidden;
	max-height: 240px;
	position: relative;
	top: 10px;
	padding: 5px 0 20px 0;
	font-size: 24px;
	word-wrap: break-word;
}



#ending-part {
	display: block;
	position: absolute;
	border-top: 1px solid #303030;
	padding-top: 2px;
	padding-bottom: 15px;
	left: 20%;
	width: 60%;
	bottom: 0;
	font-size: 18px;
	font-weight: lighter;
}

#ending-part a {
	text-decoration: none;
	color: #DCDCDC;
	transition: color 0.1s linear;
}
#ending-part a:hover {color: #F5F5F5;}

#copyright {
	float: right;
}
